body {
  margin: 0;
  background-color: hsl(250, 16%, 30%);
  font-family: 'Luckiest Guy', cursive;
  color: #eee;
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

h1 {
  padding: 48px 16px 0 16px;
  text-align: center;
  font-size: clamp(1rem, 8vw, 6rem);
}

#gamefield {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

#player1 {
  --rot: 1;
}

#player2 {
  --rot: -1;
}

.player {
  transform: scale(var(--rot),1);
  width: 40vw;
  height: clamp(50px, 40vw, 500px);
  background-size: 100%;
  background-image: url(../assets/images/hand_rock.png);
}

.player.rock {
  background-image: url(../assets/images/hand_rock.png);
}

.player.paper {
  background-image: url(../assets/images/hand_paper.png);
}

.player.scissors {
  background-image: url(../assets/images/hand_scissors.png);
}

.player.shake {
  background-image: url(../assets/images/hand_rock.png);
  transform-origin: left center;
  animation: shake 1.8s ease-in 1 forwards;
}

@keyframes shake {
  0% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(0deg);
  }
  16% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(-40deg);
  }
  24% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(5deg);
  }
  32% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(0deg);
  }
  48% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(-40deg);
  }
  56% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(5deg);
  }
  64% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(0deg);
  }
  80% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(-40deg);
  }
  96% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(5deg);
  }
  100% {
    transform: scale(var(--rot),1) translateX(calc((var(--rot) - 1) * 50%)) rotate(0deg);
  }
}

#texts {
  position: absolute;
  width: 100%;
  margin-top: 10vw;
  pointer-events: none;
}

#texts h1 {
  color: #ffde53;
  text-shadow: 4px 4px 1px red, -4px -4px 1px red, 4px -4px 1px red, -4px 4px 1px red;
}

.hidden {
  display: none;
  opacity: 0;
}

#buttons {
  width: clamp(250px, 60vw, 600px);
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
}

#buttons.disabled button {
  cursor: default;
  filter: grayscale(100%) brightness(.75);
}

#buttons button {
  aspect-ratio: 1 / 1;
  width: clamp(55px, 10vw, 100px);
  background-size: 100%;
  border-radius: 10vw;
  transition: filter .8s;
  cursor: pointer;
}

button.rock {
  background-image: url(../assets/icons/button_rock.png);
}

button.paper {
  background-image: url(../assets/icons/button_paper.png);
}

button.scissors {
  background-image: url(../assets/icons/button_scissors.png);
}

#play-again {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: hsl(250, 96%, 70%);
  cursor: pointer;
  transition: 0.3s ease-in-out;

  position: absolute;
  z-index: 5;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);

  color: hsl(250, 16%, 10%);
  font-size: clamp(1rem, 3vw, 3rem);
  letter-spacing: 5px;
  text-align: center;
}

#play-again:hover {
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0 0 25px hsl(250, 96%, 70%);
}

.fade-in {
  opacity: 0;
  animation-name: fade-in-kf;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes fade-in-kf {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.stay-in {
  opacity: 1;
}

@media (min-width: 769px) {
  #play-again {
    padding: 24px 48px;
  }
}